<!--
Provide information about event

Including number of people signed up so far / number of spaces available

on click to attend

provide conditions

if say yes to conditions

input number of adults and minors attending

if minors attending, check that adults know that they must be under care at all times

final check that all attendees have read conditions

create cookie with details of this signup

provide codename

advise that codename will be required to be admitted to event

save codename to database with number of adults and children to print later

admin page to be able to tick off as attendees arrive
-->